<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleGraph Tutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DB055F21C6BBECF0043901F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DB0560B1C6BBED00043901F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DB056161C6BBED00043901F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
